@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root{
--cor-prim:black;
--cor-secun: #F6F6F6;
--cor-terc: #DA70D6 ;
--cor-rodP: #BA55D3;
--cor-links: #ee83ee;
--cor-links-clik: #800080;
--cor-links-borda:#FF00FF;

}

*{
    margin: 0 ;
    padding: 0;

}

body {
    box-sizing: border-box;
    background-color: var(--cor-prim);
    color:  var(--cor-secun);

}

.cabecalho{
    padding: 2% 0% 0% 5%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px; 
    justify-content: center;
    flex-direction: row;
}
.cabecalho_link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.44rem ;
    font-weight: 580;
    color: var(--cor-terc); 
    text-decoration: none;
}
.cabecalho_link:hover{
    transition: ease-in;
    color: rgb(255, 255, 255);
    
}

.img_hab{
    height: 1em;
}
.img_proj{
    height: 1em;
}

.apresentacao{
    padding: 3% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px ;
}

.titulo-destaque {
    color: var(--cor-terc) ;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.titulo{
    font-size: 1.875rem;
    font-family: 'Krona One', sans-serif;
    color: #BA55D3;
    
}
strong{
    color: #F6F6F6;
}
.paragrafo{
    font-size: 1.437rem;
    font-family: 'Montserrat', sans-serif;
}
.rede_social{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.subtitulo_links{
    font-family: 'krona one', sans-serif;
    font-weight: 340;
    font-size: 1.5rem;
}
.rede_links{
    display: flex;
    justify-content: center;
    gap: 14px;
    border: 2px solid var(--cor-links);
    width: 350px;
    text-align: center;
    border-radius: 8px;  
    font-size: 1.437rem;
    font-weight:570;
    padding: 5px;
    text-decoration: 0;
    color:var(--cor-secun);
    font-family: 'Montserrat', sans-serif;
}
.rede_links:hover{
    transition: ease-in;
    font-size: 1.687rem;
    background-color: var(--cor-links-clik);
    color: rgb(255, 255, 255);
    border: 3px solid var(--cor-links-borda) ;

}

.txt-link{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.rodape{
    padding: 4px;
    color: var(--cor-secun);
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.187rem;
    font-weight: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px ;
}

.rodape-alura {
    display: flex;
    align-self: center;
    text-align: left;
}

.foto_hab{
    width: 650px ;
    filter: drop-shadow(10px 6px 9px purple);
}

.rodap{
    border-color: var(--cor-links-clik);
}

@media (max-width: 450px) {
    
    .cabecalho {
        padding: 5% 0% 0% 4%;
        overflow: hidden;

    }
    .cabecalho_menu {
        gap: 1.5rem;
    }
    .cabecalho_link{
        gap: 10rem;
    }
    .txt-link img{
        width: 1.2rem;
    }
    .txt-link span{
        font-size: 1.1rem;
    }
    .foto_hab{
        width: 420px;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% ;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    
}
